## Data Cleaning

In [456]:
# Import libraries
import numpy as np 
import pandas as pd 
import datetime as dt
import matplotlib.pyplot as plt 
from IPython.display import display
from collections import defaultdict

In [457]:
# Merge τα δύο spreadsheets
df1_raw = pd.read_excel("online_retail_II.xlsx", sheet_name = "Year 2009-2010")
df1_raw.reset_index()
df2_raw = pd.read_excel("online_retail_II.xlsx", sheet_name = "Year 2010-2011")
df_raw = pd.concat([df1_raw, df2_raw])
df_raw.shape

(1067371, 8)

In [458]:
# Remove 9 days overlap
df = pd.concat([df1_raw[df1_raw["InvoiceDate"] < df2_raw_start_date], df2_raw])
df.shape

(1044848, 8)

In [459]:
# Column datatype conversions: Invoice to string 
df["Invoice"] = df["Invoice"].astype(str)
df.shape

(1044848, 8)

In [460]:
# Column datatype conversions: StockCode to string, uppercase letters, substract blank space from value names
df['StockCode'] = df['StockCode'].astype(str).str.upper().str.strip()
df.shape

(1044848, 8)

In [461]:
# Drop missing values in Customer ID (235 287)
df = df.dropna(subset = ["Customer ID"])
df.shape

(1044848, 8)

In [462]:
#duplicated = df[df.duplicated(keep = 'first')]
#duplicated
#df = df.drop_duplicates()
#df.shape

In [463]:
len(df[df["Quantity"] < 0])

22557

In [464]:
df2=df.groupby(['Customer ID', 'StockCode'])['Quantity'].sum()
df2 = pd.DataFrame(df2)
df2.head(30)

                       Quantity
Customer ID StockCode
12346.0     15056BL           1
            15056N            1
            15056P            1
            20679             1
            20682             1
            20685             1
            21523             1
            21524             1
            21955             1
            22365             1
            22366             1
            22660             1
            22687             1
            22688             1
            22689             1
            22690             1
            22691             1
            22692             1
            23166             0
            48111             1
            48138             1
            48173C            1
            48185             1
            48187             1
            48188             1
            ADJUST           -1
            D                -1
            M               -15
            TEST001          44
            TEST002           1

In [465]:
len(df2[df2["Quantity"] >= 0])

481740

In [466]:
df3 = df2[df2["Quantity"] < 0]
df3.index

MultiIndex([(12346.0, 'ADJUST'),
            (12346.0,      'D'),
            (12346.0,      'M'),
            (12349.0,  '20747'),
            (12382.0, 'ADJUST'),
            (12421.0,      'M'),
            (12424.0,  '21125'),
            (12424.0,  '22220'),
            (12433.0,      'M'),
            (12437.0,  '22325'),
            ...
            (18223.0,   'POST'),
            (18226.0,   'POST'),
            (18247.0,  '22281'),
            (18248.0,  '21314'),
            (18257.0,   'POST'),
            (18267.0,  '21380'),
            (18270.0,   'POST'),
            (18277.0,      'D'),
            (18286.0, '79323B'),
            (18287.0,  '22301')],
           names=['Customer ID', 'StockCode'], length=1492)

In [467]:
df3.head(40)

                       Quantity
Customer ID StockCode
12346.0     ADJUST           -1
            D                -1
            M               -15
12349.0     20747            -1
12382.0     ADJUST           -1
12421.0     M                -1
12424.0     21125            -1
            22220            -3
12433.0     M                -1
12437.0     22325            -6
12454.0     ADJUST           -1
12463.0     37449            -1
12468.0     22138            -1
            35970            -1
            47594B           -2
12471.0     22221            -1
12472.0     21284           -12
            21286           -12
            22767            -2
            85232B           -2
12474.0     22779           -10
12477.0     79191C           -1
12482.0     M                -1
12484.0     20870            -1
12487.0     21680           -30
12497.0     ADJUST           -1
12500.0     47504J           -1
12503.0     M                -1
12505.0     M                -1
12525.0     21265            -1
            21527            -1
12536.0     M               -20
12539.0     M                -1
12540.0     22486            -1
12560.0     22998           -24
12578.0     20980            -9
12590.0     20914            -1
            22312            -1
12592.0     M                -2
12600.0     M                -1

In [468]:
len(df2[df2["Quantity"] < 0])

1492

In [469]:
# drop works for df2 but not original df
df_test=df2.copy()
df_test.drop(df3.index, inplace = True)

In [470]:
df_test=df.copy()
df_test.set_index(['Customer ID', 'StockCode'], inplace = True, drop=False)
#df_test.index
df_test.drop(df3.index, inplace = True)
len(df_test[df_test["Quantity"] < 0])

20629

In [471]:
#len(df[df["Invoice"].str.contains("C")])

In [472]:
#df_price_positive = df2[df2["Price"] >= 0.0]

In [473]:
#df_price_negative = df2[df2["Price"] < 0.0]

In [474]:
# We concatenate the two DataFrames.
#df_nnz_prices = pd.concat([df_price_positive, df_price_negative])

In [475]:
# Convert InvoiceDate column to datetime format
#df3["InvoiceDate"] = pd.to_datetime(df3["InvoiceDate"])

# Create Month column
#df3["Month"] = df3["InvoiceDate"].dt.strftime("%B")

# Create TotalAmount column
#df3["TotalAmount"] = df3["Price"] * df3["Quantity"]